/*! off_canvas_nav.css v1.0.0 | MIT License | by: CJ O'Hara */
html, body {
  height: 100%; }

.container {
  overflow: hidden;
  background-color: black; }

.off_canvas_container {
  background: gray;
  width: 220px;
  padding-right: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  @media only screen and (max-width: 64em) {
    .off_canvas_container {
      display: block; } }

.content {
  background: white;
  position: relative;
  left: 0;
  padding: 3em 1em 2em 1em;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 6px #333333;
  -moz-box-shadow: 0px 0px 6px #333333;
  -ms-box-shadow: 0px 0px 6px #333333;
  box-shadow: 0px 0px 6px #333333; }

.burger {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 10px;
  top: 0;
  left: 10px;
  display: none;
  cursor: pointer;
  z-index: 100; }
  @media only screen and (max-width: 64em) {
    .burger {
      display: block; } }
  .burger li {
    width: 30px;
    height: 4px;
    background-color: black;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    margin: 5px 0; }

.off_canvas_top_menu {
  display: block;
  position: fixed;
  top: 0;
  z-index: 3;
  padding-right: 20px;
  left: 0;
  width: 220px;
  height: 50px;
  background: gray; }

.off_canvas_toggles {
  position: relative;
  width: 200px;
  height: 50px; }

.back_btn, .close_btn {
  cursor: pointer; }

.back_btn {
  display: none;
  position: absolute;
  text-decoration: none;
  width: 20px;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid black;
  top: 13px;
  left: 13px; }

.back_btn:hover {
  border-right-color: #dddddd; }

.close_btn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  font-size: 24px;
  height: 29px;
  width: 29px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  line-height: 29px;
  top: 10.5px;
  right: 10.5px;
  color: black; }

.close_btn:hover {
  color: #dddddd;
  border-color: #dddddd; }

nav.off_canvas {
  position: relative;
  margin-top: 50px;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  webkit-overflow-scrolling: touch; }
  nav.off_canvas ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav.off_canvas a, nav.off_canvas a:link, nav.off_canvas a:visited {
    display: block; }
  nav.off_canvas > ul ul {
    position: absolute;
    top: 0;
    bottom: 0;
    background: gray;
    width: 200px;
    left: 220px;
    display: block;
    -webkit-transition: left 0.35s ease-in-out;
    -moz-transition: left 0.35s ease-in-out;
    -ms-transition: left 0.35s ease-in-out;
    -o-transition: left 0.35s ease-in-out;
    transition: left 0.35s ease-in-out; }
  nav.off_canvas span.dropdown_toggle {
    position: absolute;
    text-decoration: none;
    right: 0;
    width: 20px;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black; }
  nav.off_canvas li:hover > a > span.dropdown_toggle:hover {
    border-left-color: #dddddd; }
  nav.off_canvas ul.dropdown_current {
    z-index: 2;
    left: 0; }
  nav.off_canvas ul.dropdown_prev {
    z-index: 1;
    left: 0; }

@media only screen and (max-width: 64em) {
  nav.main_nav {
    display: none; }

  nav.off_canvas {
    display: block; }

  .off_canvas_top_menu.open,
  .off_canvas_container.open {
    opacity: 1;
    left: 0;
    position: fixed;
    -webkit-animation: slideIn 0.35s ease-in-out;
    -moz-animation: slideIn 0.35s ease-in-out;
    -o-animation: slideIn 0.35s ease-in-out;
    animation: slideIn 0.35s ease-in-out; }

  @-webkit-keyframes slideIn {
    0% {
      opacity: .3;
      left: 50px; }

    100% {
      opacity: 1;
      left: 0; } }
  @-moz-keyframes slideIn {
    0% {
      opacity: .3;
      left: 50px; }

    100% {
      opacity: 1;
      left: 0; } }
  @-o-keyframes slideIn {
    0% {
      opacity: .3;
      left: 50px; }

    100% {
      opacity: 1;
      left: 0; } }
  @keyframes slideIn {
    0% {
      opacity: .3;
      left: 50px; }

    100% {
      opacity: 1;
      left: 0; } }
  /*Nav Shrinking Closed Effect*/
  .off_canvas_top_menu.close,
  .off_canvas_container.close {
    opacity: .3;
    left: 50px;
    -webkit-animation: slideOut 0.35s ease-in-out;
    -moz-animation: slideOut 0.35s ease-in-out;
    -o-animation: slideOut 0.35s ease-in-out;
    animation: slideOut 0.35s ease-in-out; }

  @-webkit-keyframes slideOut {
    0% {
      opacity: 1;
      left: 0; }

    100% {
      opacity: .3;
      left: 50px; } }
  @-moz-keyframes slideOut {
    0% {
      opacity: 1;
      left: 0; }

    100% {
      opacity: .3;
      left: 50px; } }
  @-o-keyframes slideOut {
    0% {
      opacity: 1;
      left: 0; }

    100% {
      opacity: .3;
      left: 50px; } }
  @keyframes slideOut {
    0% {
      opacity: 1;
      left: 0; }

    100% {
      opacity: .3;
      left: 50px; } }
  /* CONTENT ANNIMATION */
  .top_layer.open {
    left: 200px;
    cursor: pointer;
    -webkit-animation: open 0.5s ease-in-out;
    -moz-animation: open 0.5s ease-in-out;
    -o-animation: open 0.5s ease-in-out;
    animation: open 0.5s ease-in-out; }

  @-webkit-keyframes open {
    0% {
      left: 0; }

    70% {
      left: 220px; }

    100% {
      left: 200px; } }
  @-moz-keyframes open {
    0% {
      left: 0; }

    70% {
      left: 220px; }

    100% {
      left: 200px; } }
  @-o-keyframes open {
    0% {
      left: 0; }

    70% {
      left: 220px; }

    100% {
      left: 200px; } }
  @keyframes open {
    0% {
      left: 0; }

    70% {
      left: 220px; }

    100% {
      left: 200px; } }
  /*Content Sliding Closed Effect*/
  .top_layer.close {
    left: 0;
    -webkit-animation: close 0.3s ease-in-out;
    -moz-animation: close 0.3s ease-in-out;
    -o-animation: close 0.3s ease-in-out;
    animation: close 0.3s ease-in-out; }

  @-webkit-keyframes close {
    0% {
      left: 200px; }

    100% {
      left: 0; } }
  @-moz-keyframes close {
    0% {
      left: 200px; }

    100% {
      left: 0; } }
  @-o-keyframes close {
    0% {
      left: 200px; }

    100% {
      left: 0; } }
  @keyframes close {
    0% {
      left: 200px; }

    100% {
      left: 0; } } }
