// Off-Canvas Navigation - nav.off_canvas

//
// Colors
//

$off-canvas-text: black;
$off-canvas-text-hover: white;
$off-canvas-li-background: #999;
$off-canvas-li-hover-background: #333;


//
// Style
//

nav.off_canvas {
	a, a:link, a:visited {
		color: $off-canvas-text;
		text-decoration: none;
		padding: 0.5em 1em;
		text-transform: uppercase;
		background: $off-canvas-li-background;
	}
	li:hover > a {
		color: $off-canvas-text-hover;
	}
	li {
		border-bottom: 1px solid black;
	}
	li:hover > a {
		background: $off-canvas-li-hover-background;
	}
	li:hover > a > span.dropdown_toggle {
		border-left-color: $off-canvas-text-hover;
	}
}