// Main Navigation nav.dropdown

//
// Variables
//

$dropdown-width: 125px;

//
// Colors
//

$nav-text: #eee;
$nav-text-hover: #eee;
$nav-li-background: #222;
$nav-li-hover-background: #555;

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $nav-li-background;
	@include box-shadow(0 6px 6px -3px #bbb);
}

nav.dropdown {
	> ul {
		width: 100%;
		text-align: center;
		> li {
			display: inline-block;
			margin-left: -4px;
			> a {
				padding: 0.5em 0.45em;
				text-transform: uppercase;
				font-size: .9em;
			}
		}
		> li:first-child {
			margin-left: 0;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		position: relative;
	}
	a, a:link, a:visited {
		display: block;
		text-decoration: none;
		color: $nav-text;
		background: $nav-li-background;
	}
	li:hover > a {
		color: $nav-text-hover;
		background: $nav-li-hover-background;
	}
	> ul ul {
		display: none;
		position: absolute;
		width: $dropdown-width;
		text-align: left;

		a {
			padding: 0.5em 0 0.5em 0.75em;
			font-size: .8em;
		}

		ul {
			left: $dropdown-width;
			top: 0px;
		}
	}
	li:hover > ul {
		display: block;
	}
}
@media screen and (max-width: 64em) {
	nav.dropdown {
		display: none;
	}
	header {
		height: 3em;
	}
}