// Off-Canvas Navigation - nav.off_canvas

//
// Colors
//

$off-canvas-text: black;
$off-canvas-text-hover: white;
$off-canvas-li-background: #999;
$off-canvas-li-hover-background: #333;
$nav-btn-toggle: #aaa;
$nav-btn-toggle-hover: #eee;

//
// Style
//

.content {
	padding: 2.5em 1em 1em 1em;
	@include box-shadow(0px 0px 6px #333);
}
.nav_toggle {
	font-size: 2em;
	padding: 0.125em;
	color: $nav-btn-toggle;
}
.nav_toggle:hover {
	color: $nav-btn-toggle-hover;
}
.off_canvas_top_menu {
	background: #444;
}
.nav_close_btn {
	font-size: 1.25em;
	padding: 0.5em;
	color: $nav-btn-toggle;
}
.nav_prev_btn {
	font-size: 1em;
	padding: 0.75em;
	color: $nav-btn-toggle;
	text-transform: uppercase;
}
.nav_prev_btn i {
	font-size: 1.25em;
}
.nav_close_btn:hover, .nav_prev_btn:hover {
	color: $nav-btn-toggle-hover;
}

nav.off_canvas {
	a, a:link, a:visited {
		color: $off-canvas-text;
		text-decoration: none;
		padding: 0.5em 1em;
		text-transform: uppercase;
	}
	li:hover > a {
		color: $off-canvas-text-hover;
	}
	li {
		background: $off-canvas-li-background;
	}
	li:hover {
		background: $off-canvas-li-hover-background;
	}
	span.nav_next_btn {
		padding: 0 0.5em;
		font-weight: bold;
	}
	li:hover span.nav_next_btn {
		color: $off-canvas-text;
	}
	li:hover span.nav_next_btn:hover {
		color: $off-canvas-text-hover;
	}
}